<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>To Do List for {{month}}/{{day}}/{{year}}</h1>
  <h3>{{currentFocus}}</h3>
  <button (click)="addTask()">Add A Task</button>
  <ul>
    <li *ngFor="let currentTask of tasks" (click)="currentTask.markComplete()">
      <span [ngClass]="{'done': currentTask.done === true}">
        {{currentTask.description}}, {{currentTask.priority}}, {{currentTask.dateDue.toDateString()}}
      </span>

    </li>
  </ul>
  <button (click)="sortTasksByDate()">Sort by Date</button>
  <button (click)="sortTasksByPriority()">Sort by Priority</button>
</div>
