@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

body {
  background-color: gray;
}
.done {
  text-decoration: line-through;
}

.red {
  color: #aa3311;
}

.orange {
  color: orange;
}

.yellow {
  color: yellow;
}

.btn-success {
  margin-bottom: 10px;
}

#task-list-ul {
  margin-top: 20px;
}

#task-title {
  font-weight: bold;
  font-size: 2.5em;
}
