@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

body {
  background-color: gray;

}

.complete {
  background-image: url('https://media2.giphy.com/media/26tOZ42Mg6pbTUPHW/giphy.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.done {
  text-decoration: line-through;
}

.red {
  color: #aa3311;
}

.orange {
  color: orange;
}

.yellow {
  color: yellow;
}

.btn-success {
  margin-bottom: 10px;
}

#task-list-ul {
  margin-top: 20px;
}

#task-title {
  font-weight: bold;
  font-size: 2.5em;
}

span {
  cursor: grab;
}

span:active {
  cursor: grabbing;
}
