<h1>New Task</h1>
<div class="form-group">
  <label>Enter Task Description</label>
  <input #newDescription class="form-control">
</div>
<div class="form-group">
  <label>Task Priority:</label>
  <select #newPriority class="form-control">
    <option [value]="1"> High Priority </option>
    <option [value]="2"> Medium Priority </option>
    <option [value]="3"> Low Priority </option>
  </select>
</div>
<div class="form-group">
  <label>Date</label>
  <input type="date" #newDate class="form-control">
</div>
<button class="btn btn-info" (click)="submitForm(newDescription.value, newPriority.value, newDate.value); newDescription.value=''; newDate.value=''">Add</button>
